<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="users-form">
  <div *ngIf="!(isLoading$ | async)">
    <div>
      <mat-form-field>
        <input matInput placeholder="Username"
               maxlength="32"
               formControlName="username">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="First Name"
               maxlength="50"
               formControlName="firstName">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Last Name"
               maxlength="50"
               formControlName="lastName">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Email"
               maxlength="200" type="email"
               formControlName="email">
      </mat-form-field>
    </div>
    <div>
      <button mat-button type="submit">Save</button>
      <button mat-button (click)="delete()" type="button">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
      <button mat-button routerLink="./">Cancel</button>
    </div>
  </div>
  <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
</form>
